<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test1">
        <classes>
            <class name = "secondTestNG"/>
            <class name = "firstTestNG"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name = "thirdTestNG"/>
        </classes>
    </test>
</suite>






